*, *::before, *::after { box-sizing: border-box; }

// Elements

body {
    font-family: $font1;
    font-weight: 400;
    font-size: 16px;
}

img { width: 100%; }

h1, p { line-height: 1.5; }

h1, h2, h3 { font-weight: 700; }

h2, h3 { font-family: $font2; }

a { text-decoration: none; }

header {
    background: url(../images/bg-curve-mobile.svg) no-repeat 0 bottom/ 100% 100px;
    padding-bottom: 9rem;
}

section:nth-of-type(1) {
    background-color: $light-grayish-blue;
    padding-top: 3rem;
    padding-bottom: 5.2rem;

    @include desktop {
        padding-bottom: 6.6rem;
    }
}

section:nth-of-type(2) {
    padding-top: 2.3rem;
    padding-bottom: 4.5rem;
    background-color: $desaturated-blue;

    @include desktop {
        padding-top: 4.5rem;
    }
}

footer {
    background-color: $very-dark-blue;
    color: $light-grayish-blue;
    padding-top: 4.2rem;

    @include desktop {
        padding-top: 6.6rem;
    }

    svg { fill: $light-grayish-blue; }
}