%input {
    width: 100%;
    font-family: $font2;
    border-style: none;
    outline: none;
}

%paragraph-size {
    font-size: 14px;
}

%margin-lr {
    margin-left: auto;
    margin-right: auto;
}