// estilos de componente
.card {
    padding: 1.2rem 1.5rem;
    box-shadow: 0 0 8px lighten($light-gray, 12%);
    background-color: #fff;

    @include desktop {
        padding: 1.5rem 2rem;
        border-radius: 6px;
    }

    &__quotes {
        width: 12px;
    }

    &__paragraph {
        font-size: 11px;
        margin-top: 8px;

        @include desktop {
            font-size: 13px;
            line-height: 1.8;
            margin-bottom: 1rem;
        }
    }

    &__profile {
        display: flex;
        align-items: center;

        &-avatar {
            width: 1.5rem;
            border-radius: 50%;
            margin-right: 8px;

            @include desktop {
                width: 2rem;
            }
        }
        &-name {
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0;

            @include desktop {
                font-size: 11px;
            }
        }
        &-position {
            font-size: 9px;
            color: $desaturated-blue;
            margin: 0;
        }
    }
}